
     a {
        color: white;
        font-weight: bold;
    
      }

  body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 234, 235);s
    max-width: 800px;
}

h1, h2, h3 {s
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: Helvetica;
}

header{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: black;

}

footer{
    top: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: black;
    color: white;
}



main {
	max-width: 960px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.left{
    float: left;
    margin: 1em;
}
.right{
    float: right;
    margin: 1em;
}
.clear {
	clear: both;
}
